@model MvcApp.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="loginPage">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="Content/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLte/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="Content/Login.css">
    <link rel="stylesheet" href="Content/Site.css">
    <link rel="icon" type="image/x-icon" href="~/Images/favicon.png" />
    <title>Semper FI Landscaping</title>
    <style>
    </style>
</head>
<body>
    <div class="login-box">
        <div class="login-logo">
            <b>Semper</b>FI
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="../User/Login" method="post">
                @Html.TextBoxFor(m => m.Latitude, null, new { id = "hdnLat", type = "text", @class = "hide" })
                @Html.TextBoxFor(m => m.Longitude, null, new { id = "hdnLong", type = "text", @class = "hide" })
                @Html.AntiForgeryToken()
                <div class="formInput">
                    @Html.TextBoxFor(m => m.Email, null, new { id = "txtEmail", type = "email", placeholder = "Email", @class = "form-control loginRequired" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="formInput">
                    @Html.TextBoxFor(m => m.Password, null, new { id = "txtPassword", type = "password", placeholder = "Password", @class = "form-control loginRequired" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row errorMsg">
                    @Html.LabelFor(vb => vb.ErrorMsg, "", new { id = "lblErrorMsg" })
                    <label>@ViewBag.ErrorMsg</label>
                    <ul class="ulErrorMsg"></ul>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" id="btnLoginSubmit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            </form>
            <div class="divLinks">
                <a href="#">I forgot my password</a><br>
                <a href="register.html" class="text-center">Register a new membership</a>
            </div>
        </div>
    </div>
    <!-- jQuery 2.2.0 -->
    <script type="text/javascript" src="AdminLte/Plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="Scripts/Common.Logic.js"></script>
    <script src="Scripts/Login.js"></script>
</body>
</html>

